html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  width: 100%;
  height: 75px;
  background-color: rgba(217, 142, 4, 0.5);
  backdrop-filter: blur(10px);
  border-bottom: 5px solid black;
  font-size: 25px;
  font-weight: bold;
  color: #e1e6f0;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 800px) {
  nav {
    font-size: 30px;
  }
}
@media screen and (min-width: 1264px) {
  nav {
    font-size: 35px;
  }
}
nav .logo {
  padding-left: 30px;
  letter-spacing: 8px;
}
nav .menu {
  padding-right: 5vw;
  text-align: right;
}
@media screen and (min-width: 800px) {
  nav .menu {
    padding-right: 160px;
  }
}
nav .menu span {
  font-size: 40px;
  font-weight: 400;
  transition: weight 1s;
  cursor: pointer;
  user-select: none;
}
@media screen and (min-width: 800px) {
  nav .menu span {
    font-size: 50px;
  }
}
@media screen and (min-width: 1264px) {
  nav .menu span {
    font-size: 55px;
  }
}
nav .menu span:hover {
  font-weight: bolder;
}

header {
  width: 100%;
  height: 100vh;
  background: url("../assets/img/header-bg.webp") center/cover fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  header .header-container {
    align-items: flex-start;
  }
}
header .header-container h1 {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  color: #e1e6f0;
  user-select: none;
  z-index: 1;
}
@media screen and (min-width: 800px) {
  header .header-container h1 {
    font-size: 70px;
  }
}
@media screen and (min-width: 1264px) {
  header .header-container h1 {
    font-size: 90px;
  }
}
header .header-container::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3215686275);
}
header .header-container a {
  background-color: #A60303;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border: 5px solid #c6cfe2;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
}
header .header-container a:hover {
  transform: skewX(190deg);
  background-color: #d80404;
}
@media screen and (min-width: 800px) {
  header .header-container a {
    padding: 3px;
  }
}
@media screen and (min-width: 1264px) {
  header .header-container a {
    padding: 5px;
  }
}
header .header-container a p {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  color: #c6cfe2;
  margin: 5px;
}
@media screen and (min-width: 800px) {
  header .header-container a p {
    font-size: 45px;
  }
}
@media screen and (min-width: 1264px) {
  header .header-container a p {
    font-size: 55px;
  }
}

/*# sourceMappingURL=style.css.map */
