html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  width: 100%;
  height: 75px;
  background-color: rgba(12, 12, 20, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 3px solid rgb(26, 26, 32);
  font-size: 25px;
  font-weight: bold;
  color: #e1e6f0;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 800px) {
  nav {
    font-size: 30px;
  }
}
@media screen and (min-width: 1264px) {
  nav {
    font-size: 35px;
  }
}
nav .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 30px;
  letter-spacing: 8px;
}
nav .menu {
  padding-right: 5vw;
  text-align: right;
}
@media screen and (min-width: 800px) {
  nav .menu {
    padding-right: 160px;
  }
}
nav .menu span {
  font-size: 40px;
  font-weight: 400;
  transition: weight 1s;
  cursor: pointer;
  user-select: none;
}
@media screen and (min-width: 800px) {
  nav .menu span {
    font-size: 50px;
  }
}
@media screen and (min-width: 1264px) {
  nav .menu span {
    font-size: 55px;
  }
}
nav .menu span:hover {
  font-weight: bolder;
}

#nav-box {
  width: 100%;
  min-height: 80px;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgb(12, 12, 20);
  border: 4px solid rgba(0, 0, 0, 0.4509803922);
  font-size: 25px;
  overflow: hidden;
  color: #e1e6f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  top: -100vh;
  right: 0;
  transition: top 0.5s;
  z-index: 2;
}
@media screen and (min-width: 800px) {
  #nav-box {
    flex-direction: row;
  }
}
#nav-box .link {
  width: 90%;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
  border-top: 2px solid rgb(197, 199, 216);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  transition: 0.5s;
}
@media screen and (min-width: 800px) {
  #nav-box .link {
    flex-basis: 20%;
    padding: 20px;
    margin: 20px 0;
    justify-content: center;
  }
}
#nav-box .link:hover {
  background-color: #1f1f34;
}

#nav-box.active {
  top: 73px;
}

header {
  width: 100%;
  height: 100vh;
  background: url("../assets/img/header-bg.webp") center/cover fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .header-container {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 800px) {
  header .header-container {
    align-items: flex-start;
  }
}
header .header-container h1 {
  font-size: 45px;
  font-weight: bold;
  text-align: left;
  line-height: 50px;
  color: #e1e6f0;
  user-select: none;
  z-index: 1;
}
@media screen and (min-width: 800px) {
  header .header-container h1 {
    font-size: 70px;
    line-height: 70px;
  }
}
@media screen and (min-width: 1264px) {
  header .header-container h1 {
    font-size: 90px;
    line-height: 100px;
  }
}
header .header-container h1 b {
  color: #A60303;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e1e6f0;
}
header .header-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4509803922);
}
header .header-container a {
  background-color: #A60303;
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  border: 3px solid #c6cfe2;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
}
header .header-container a:hover {
  transform: skewX(190deg);
  background-color: #d80404;
}
@media screen and (min-width: 800px) {
  header .header-container a {
    padding: 3px;
  }
}
@media screen and (min-width: 1264px) {
  header .header-container a {
    padding: 5px;
  }
}
header .header-container a p {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  color: #c6cfe2;
  margin: 5px;
}
@media screen and (min-width: 800px) {
  header .header-container a p {
    font-size: 45px;
  }
}
@media screen and (min-width: 1264px) {
  header .header-container a p {
    font-size: 55px;
  }
}

section {
  min-height: 75vh;
  background: rgb(16, 16, 26);
  border: 2px solid rgba(0, 0, 0, 0.4509803922);
  color: #e1e6f0;
}
section:nth-of-type(even) {
  background: rgb(12, 12, 20);
}
section h2 {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  padding-top: 100px;
}
@media screen and (min-width: 800px) {
  section h2 {
    font-size: 45px;
  }
}
@media screen and (min-width: 1264px) {
  section h2 {
    font-size: 55px;
  }
}
section h3 {
  font-weight: bold;
  font-size: 20px;
  margin: 8px;
}
@media screen and (min-width: 800px) {
  section h3 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1264px) {
  section h3 {
    font-size: 35px;
  }
}
section p {
  font-weight: 500;
  font-size: 15px;
}
@media screen and (min-width: 800px) {
  section p {
    font-size: 20px;
  }
}
@media screen and (min-width: 1264px) {
  section p {
    font-size: 25px;
  }
}

.container {
  padding: 25px;
}
@media screen and (min-width: 800px) {
  .container {
    width: 740px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1264px) {
  .container {
    width: 1224px;
    margin: 0 auto;
  }
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 800px) {
  .row {
    flex-direction: row;
  }
}

.collumn {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
}
@media screen and (min-width: 800px) {
  .collumn-md75 {
    flex: 0 0 75%;
  }
}
@media screen and (min-width: 800px) {
  .collumn-md50 {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 800px) {
  .collumn-md33 {
    flex: 0 0 33.333333%;
    text-align: center;
  }
}
@media screen and (min-width: 800px) {
  .collumn-md25 {
    flex: 0 0 25%;
  }
}
@media screen and (min-width: 800px) {
  .collumn-md15 {
    flex: 0 0 15%;
  }
}
@media screen and (min-width: 1264px) {
  .collumn-lg50 {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 1264px) {
  .collumn-lg33 {
    flex: 0 0 33.333333%;
  }
}
@media screen and (min-width: 1264px) {
  .collumn-lg25 {
    flex: 0 0 25%;
  }
}

iframe {
  border-radius: 6px;
  box-shadow: 0px 0px 80px 10px rgba(0, 0, 0, 0.9);
}

.burger-container .meat, .burger-container .cheese, .burger-container .tomato, .burger-container .letuce, .burger-container .bun {
  width: 90%;
  min-height: 20px;
  font-weight: bold;
  height: 50px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.burger-container .meat:hover, .burger-container .cheese:hover, .burger-container .tomato:hover, .burger-container .letuce:hover, .burger-container .bun:hover {
  transform: scale(1.1);
}

.burger-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: #e1e6f0;
  background-color: #161624;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 6px;
}
.burger-container .bun {
  background-color: rgb(107, 56, 40);
}
.burger-container .letuce {
  background-color: green;
}
.burger-container .tomato {
  background-color: #A60303;
}
.burger-container .cheese {
  background-color: rgb(151, 130, 12);
}
.burger-container .meat {
  background-color: rgb(102, 38, 19);
}

.options {
  padding: 30px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}
.options .option {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161624;
  border-radius: 6px;
}
.options .option .burger-inputs {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.options .option .burger-inputs select {
  min-width: 60%;
  height: 25px;
  border-radius: 6px;
  background-color: #e1e6f0;
  border: 2px solid #A60303;
  transition: 0.5s;
  margin: 0 10px;
}
.options .option .burger-inputs select:hover {
  border: 2px solid #e1e6f0;
  background-color: #A60303;
  color: #e1e6f0;
}
.options .option .burger-inputs select:focus {
  border: none;
}
.options .option .burger-inputs input {
  width: 30%;
  height: 19px;
  border-radius: 6px;
  background-color: #e1e6f0;
  border: 2px solid #A60303;
  transition: 0.5s;
  margin: 0 10px;
}
.options .option .burger-inputs input:hover {
  border: 2px solid #e1e6f0;
  background-color: #A60303;
  color: #e1e6f0;
}
.options .option .burger-inputs input:focus {
  border: none;
}

/*# sourceMappingURL=style.css.map */
